In [2]:
import pandas as pd
import numpy as np

In [3]:
cars = pd.read_csv("car_data.csv", index_col=0)

In [4]:
cars.head()

,year,selling_price,km_driven,fuel,seller_type,transmission,owner
name,,,,,,,
Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [5]:
cars.selling_price.describe()

count    4.340000e+03
mean     5.041273e+05
std      5.785487e+05
min      2.000000e+04
25%      2.087498e+05
50%      3.500000e+05
75%      6.000000e+05
max      8.900000e+06
Name: selling_price, dtype: float64

In [6]:
cars.selling_price.unique()[:10]

array([ 60000, 135000, 600000, 250000, 450000, 140000, 550000, 240000,
       850000, 365000])

In [7]:
cars.selling_price.mean()

504127.3117511521

In [8]:
cars.fuel.describe()

count       4340
unique         5
top       Diesel
freq        2153
Name: fuel, dtype: object

In [9]:
cars.fuel.unique()

array(['Petrol', 'Diesel', 'CNG', 'LPG', 'Electric'], dtype=object)

In [11]:
cars.index.value_counts()

name
Maruti Swift Dzire VDI                     69
Maruti Alto 800 LXI                        59
Maruti Alto LXi                            47
Maruti Alto LX                             35
Hyundai EON Era Plus                       35
                                           ..
Hyundai Verna Transform CRDi VGT SX ABS     1
Maruti S-Presso VXI Plus                    1
Toyota Etios Liva 1.2 VX                    1
Toyota Yaris G                              1
Hyundai i20 Magna 1.4 CRDi                  1
Name: count, Length: 1491, dtype: int64

In [13]:
# center the selling price around 0
cars_price_mean = cars.selling_price.mean()
cars.selling_price.map(lambda x: x - cars_price_mean)

name
Maruti 800 AC                         -444127.311751
Maruti Wagon R LXI Minor              -369127.311751
Hyundai Verna 1.6 SX                    95872.688249
Datsun RediGO T Option                -254127.311751
Honda Amaze VX i-DTEC                  -54127.311751
                                           ...
Hyundai i20 Magna 1.4 CRDi (Diesel)    -94128.311751
Hyundai i20 Magna 1.4 CRDi             -94128.311751
Maruti 800 AC BSIII                   -394127.311751
Hyundai Creta 1.6 CRDi SX Option       360872.688249
Renault KWID RXT                      -279127.311751
Name: selling_price, Length: 4340, dtype: float64

In [16]:
def remean_points(row):
    row.selling_price = row.selling_price - cars_price_mean
    row.km_driven=row.km_driven+row.km_driven*0.01 # distance travelled to bring car to the buyer
    return row

cars.apply(remean_points, axis = 'columns')

,year,selling_price,km_driven,fuel,seller_type,transmission,owner
name,,,,,,,
Maruti 800 AC,2007,-444127.311751,70700.0,Petrol,Individual,Manual,First Owner
Maruti Wagon R LXI Minor,2007,-369127.311751,50500.0,Petrol,Individual,Manual,First Owner
Hyundai Verna 1.6 SX,2012,95872.688249,101000.0,Diesel,Individual,Manual,First Owner
Datsun RediGO T Option,2017,-254127.311751,46460.0,Petrol,Individual,Manual,First Owner
Honda Amaze VX i-DTEC,2014,-54127.311751,142410.0,Diesel,Individual,Manual,Second Owner
...,...,...,...,...,...,...,...
Hyundai i20 Magna 1.4 CRDi (Diesel),2014,-94128.311751,80800.0,Diesel,Individual,Manual,Second Owner
Hyundai i20 Magna 1.4 CRDi,2014,-94128.311751,80800.0,Diesel,Individual,Manual,Second Owner
Maruti 800 AC BSIII,2009,-394127.311751,83830.0,Petrol,Individual,Manual,Second Owner
Hyundai Creta 1.6 CRDi SX Option,2016,360872.688249,90900.0,Diesel,Individual,Manual,First Owner
Renault KWID RXT,2016,-279127.311751,40400.0,Petrol,Individual,Manual,First Owner

In [17]:
#the original dataframe is unchanged
cars.head()

,year,selling_price,km_driven,fuel,seller_type,transmission,owner
name,,,,,,,
Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [18]:
# operation between two columns of the same length
cars_price_mean = cars.selling_price.mean()
cars.selling_price - cars_price_mean

name
Maruti 800 AC                         -444127.311751
Maruti Wagon R LXI Minor              -369127.311751
Hyundai Verna 1.6 SX                    95872.688249
Datsun RediGO T Option                -254127.311751
Honda Amaze VX i-DTEC                  -54127.311751
                                           ...
Hyundai i20 Magna 1.4 CRDi (Diesel)    -94128.311751
Hyundai i20 Magna 1.4 CRDi             -94128.311751
Maruti 800 AC BSIII                   -394127.311751
Hyundai Creta 1.6 CRDi SX Option       360872.688249
Renault KWID RXT                      -279127.311751
Name: selling_price, Length: 4340, dtype: float64

In [19]:
cars.owner + " - " + cars.seller_type

name
Maruti 800 AC                           First Owner - Individual
Maruti Wagon R LXI Minor                First Owner - Individual
Hyundai Verna 1.6 SX                    First Owner - Individual
Datsun RediGO T Option                  First Owner - Individual
Honda Amaze VX i-DTEC                  Second Owner - Individual
                                                 ...
Hyundai i20 Magna 1.4 CRDi (Diesel)    Second Owner - Individual
Hyundai i20 Magna 1.4 CRDi             Second Owner - Individual
Maruti 800 AC BSIII                    Second Owner - Individual
Hyundai Creta 1.6 CRDi SX Option        First Owner - Individual
Renault KWID RXT                        First Owner - Individual
Length: 4340, dtype: object